<div class="container">
  <div class="todo-list">
    <h1>Todo List</h1>
    <div>
      <input
        (ngModel)="(todo.Title)"
        type="text"
        placeholder="Add a new task..."
      />
      <button (click)="addTodo()" type="submit">
        Add
        <!-- {{ todo.Id ? "Update" : "Add" }} -->
      </button>
    </div>
    <ul>
      <li>
        <label for="task3"></label>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-times"></i>
      </li>
    </ul>
  </div>
</div>
